html, body {
    max-width: 100%;

	background: #e6eced; 
	margin: 0;
	font-family: DejaVu Sans Mono, monospace;
}


header {
	display: flex;
	justify-content: center;
	font-size: 1.6em;
	text-align: center;
	
}

.center {
	display: flex;
	justify-content: center;
	
}

nav {
	margin:auto;
	width: 75%;
	display: flex;
	font-size: 1.4em;
	align-self: center;
	justify-content: space-around;
	
	
}

@media only screen and (min-width: 600px) {
nav {
	margin:auto;
	width: 75%;
	display: flex;
	font-size: 1.4em;
	align-self: center;
	justify-content: space-around;
	text-align: center;
	
	}
}

@media only screen and (max-width: 600px) {
nav {
	margin:auto;
	width: 75%;
	display: flex;
	font-size: 1.4em;
	align-self: center;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	
	}
}


.main {
	display: flex;
	justify-content: space-around;
	height: 80%;
	margin-bottom: 0;
	
}

.gallerysection {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	padding-bottom: 10em;
	
}

#avatar {
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	height: auto;
	
	
}

.imgcaption {
	font-size: 0.5em;
	
	
}

 

.newsSection {
	display: flex;
	flex-direction: column;
	 -webkit-animation: slideIn2 2s forwards;
  -moz-animation: slideIn2 2s forwards;
  animation: slideIn2 2s forwards;
	margin-right: auto;
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: rgba(255,255,255,0.7);
	max-width: 30%;
	width: auto;
	height: auto;
	font-size: 1.2em;
	padding: 1em;
	word-wrap: break-word;
	overflow: auto;
	
	
}

footer {
	position: fixed;
	text-align: center;
	
	
	bottom: 0;
	width: 100%;
	height: 2.5em;
	background:#ffffff;
	
	
}

#intro {
	text-align:center;
	display: flex;
	flex-direction: column;
	 -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
	margin-left: auto;
	margin-right: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: rgba(255,255,255,0.7);
	max-width: 30%;
	width: auto;
	height: auto;
	font-size: 1.1em;
	overflow: auto;
	word-wrap: break-word;
	padding: 1em;
	

	
	
}

.icon {
	width: 5%;
	
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-50em);
  }
  100% {
    transform: translateX(0em);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-50em);
  }
  100% {
    transform: translateX(0em);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-50em);
  }
  100% {
    transform: translateX(0em);
  }
}


@-webkit-keyframes slideIn2 {
  0% {
    transform: translateX(50em);
  }
  100% {
    transform: translateX(0em);
  }
}
@-moz-keyframes slideIn2 {
  0% {
    transform: translateX(50em);
  }
  100% {
    transform: translateX(0em);
  }
}
@keyframes slideIn2 {
  0% {
    transform: translateX(50em);
  }
  100% {
    transform: translateX(0);
  }
}

/* For image gallery https://www.w3schools.com/css/css_image_gallery.asp  */


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.gallerythumb {
	width: 600px;
	height: 400px;
	
	
}

/*For image rotation https://stackoverflow.com/questions/6410730/css-endless-rotation-animation*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

















